# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
terraform.tfvars.json
tfplan
tfplan.txt
.terraform.*
*.rtf

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp

# Rendered manifests (kustomize build output)
/rendered/
